@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");

html{
  background-image: linear-gradient(to right, #008c5d, #008780);
  font-family: 'Oswald', sans-serif;
};
nav{
  color: black;
};
body{
  color: white;
  background-image: linear-gradient(to right, #008c5d, #008780);
  font-family: 'Oswald', sans-serif;
}
